.heading {
    transition: all 300ms ease-in-out;
}

.heading:hover {
    background: red;
}

a {
    color: darkgoldenrod;
}

a:link {
    color: deeppink
}

a:hover {
    background: darkslateblue;
    color: white;
    text-decoration: none;
}

a:active {
    background: darkgray;
    color: white;
    text-decoration: none;
}

input:checked + p {
    background: red;
}

.pai .lista li:last-child{
    background: red;
}

input:required {
    background: red;
}

p:not(.meio) {
    color: blue;
}

input:not(:checked) + p{
    color: yellow;
}

